*{
    margin: 0;
    padding: 0;
}


.header{
    width: 100%;
    height: 80px;
    background-color: black;
}

.logo{
    width: 30%;
    line-height: 80px;
    background-color: rgb(221, 143, 143);
    text-align: center;
    float: left;
}

.menu{
    width: 70%;
    line-height: 80px;
    background-color: rgb(119, 115, 115);
    float: right;
    cursor: crosshair;
}

ul{
    list-style: none;
    text-align: right;
}

li{
    display: inline;
    padding: 5px;
}